@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'),
    url('../resources/fonts/Roboto/Roboto-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Libre Caslon Display';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Caslon Display'), local('Libre Caslon Display'),
    url('../resources/fonts/Libre_Caslon_Display/LibreCaslonDisplay-Regular.ttf')
      format('truetype'); /* Safari, Android, iOS */
}

body {
  font-family: 'Roboto', sans-serif;
}
